/* Fonts and Common */


    @font-face {
    font-family: 'Turbinado';
    font-style: normal;
    font-weight: normal;
    src: local('Turbinado'), url('font/FontsFree-Net-turbinado-bold.otf') format('opentype');
    }

    @font-face {
    font-family: 'Montreal Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Montreal Regular'), url('font/PPNeueMontreal-Book.otf') format('opentype');
    }
    

    @font-face {
    font-family: 'Montreal Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Montreal Bold'), url('font/PPNeueMontreal-Bold.otf') format('opentype');
    }

    @font-face {
    font-family: 'Montreal SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Montreal Bold'), url('font/PPNeueMontreal-Medium.otf') format('opentype');
    }

    @font-face {
    font-family: 'Montreal Book';
    font-style: normal;
    font-weight: normal;
    src: local('PP Nue Montreal Bold'), url('font/PPNeueMontreal-Book.otf') format('opentype');
    }






*{
margin:0;
padding:0;
 font-family: 'Montreal Book';
}

body{

}


.social_section{
position:fixed;
left:10px;
top:40vh;	
z-index:100;
}

.social_section img{
width:20px;
padding:5px 0;
}
.clear{
clear:both;
	}

.element_section{
height:100vh;
max-height:100vh;
}

.pagination li{
    list-style: none;
    color: #fff;
    transform: rotate(90deg);
    padding: 20px 0;
}
.pagination li a{
color: #fff;
text-decoration:none;
font-size:13px;
    padding: 5px 10px;
}

.pagination a.active{
	color: #000;
    background: #00f93d;
    padding: 5px 10px;
    border-radius: 20px;
}


.pagination {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4em;
    z-index: 10;
}


.pagination li{
list-style:none;
}



#target{
color:#fff;
padding:20px;
width:200px;
margin:auto;
display:block;
margin-top:200px;
background:red;	
}

/* Fonts and Common */


/* Home Page */


section.home{
background:url('images/back.jpg') no-repeat center center;
background-attachment:fixed;		
}


.strech{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;	
}

.logo_container img{
max-width:600px;
margin: auto;
display: block;	
    -webkit-transition: all 1s ease;
    transition: all 1s ease;	
}
.logo_container{
    width: 800px;
    margin: auto;
	background:url('images/scale.png') no-repeat center center;
	background-size:contain;
	max-width:90%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;	
}

.tagline_container{
color:#fff;
font-size:30px;
text-align:center;	
font-family: 'PP Nue Montreal Bold';
font-style: italic;
}

.tag_cover{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;	
}
.tag_cover div{
margin: 0 3px;	
}

/* End Home Page */

/* Scroll Down Animation */

#mouse-scroll {
    position: absolute;
    margin: auto;
    left: 50%;
    bottom: 30px;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}
#mouse-scroll .mouse {
color:#fff;
}
#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
    -webkit-animation: animated-mouse 1.2s ease infinite;
}
#mouse-scroll .down-arrow-1, 
#mouse-scroll .down-arrow-2, 
#mouse-scroll .down-arrow-3 {
     -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite:;
}
#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}
#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}
#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}


@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
         opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    } 
}
@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


.pointer_arrows{
width:15px;
margin:auto;	
}


/* End Scroll Down Animation */


/* About Section */


section.about{
background:url('images/about.jpg') no-repeat center center;
background-attachment:fixed;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;	
}


.about_inner{
width:80VW;
height:80vh;
border:2px solid #00f93d;
border-radius: 30px;
box-shadow: 0 0 26px #00f93d, 0 0 26px #00f93d inset;
color:#fff;
}

.about_inner img{
max-width:100%;	
}

.top_align{
padding-bottom:10%;
text-align:center;	
}

.top-align_cover{
transform: translateX(25%);
}

.bottom_align{
padding-top:10%;
text-align:center;	
}

.bottom-align_cover{
transform: translateX(-35%);	
}


/* About Ends */

/* Works */

.click_to_play{
    position: absolute;
    width: 220px;
    top: 50%;
    left: 50%;
    height: 220px;
    z-index: 100;
    margin-left: -110px;
	margin-top:-110px;
}

section.works{
background:#000;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;		
overflow:hidden;
position: relative;
}

.loop_video{
width:100%;	
}


/* End Works */

/* Team */


.col-md-10{
width:80%;
margin:auto;	
}

.global_based p{
    font-family: 'Montreal SemiBold';
}
section.team{
background:url('images/team.jpg') no-repeat top center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;		
}


.team_inner{
width:80VW;
height:80vh;
color:#fff;
}

.global_based{
text-align:center;	
}

.global_based{
font-size:70px;	
}
.global_based img{
display:block;
margin:-30px auto;	
}

.content_team{
text-align:center;	
}

.owl-carousel img{
margin-bottom:10px;	
}


.owl-stage .owl-item:nth-child(even){
margin-top:50px;	
}
.owl-stage p{
line-height:1.4;
}

/* End Team */

/* Contact */



section.contact{
background:url('images/contact.jpg') no-repeat center center;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;		
}

section.contact .contact_inner{
display:flex;	
align-items: center;
justify-content: center;
}

.contact img{
margin:auto;
display:block;
}


/* End Contact */


/* Animations */


.animate_opacity{
opacity:0;	
-webkit-transition: all 1.2s ease;
transition: all 1.2s ease;	
}

.animate_top{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
	z-index:1000;		
}

.animate_top.animated{
margin-top:-50px;	
-webkit-transition: all 1s ease;
transition: all 1s ease;	
}

.animate_opacity.animated{
opacity:1;	

}


/* Mobile Optimization */


@media screen and (min-width:769px){
	

.logo_container{
    position: fixed;
    top: 20vh;
    left: 50%;
    margin-left: -20vw;
    width: 40vw;
}

.active_logo{
    top: 0;
	z-index:1000;
	background:none;	
}
.active_logo img{
max-width:300px;	
}
	
}












